# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Jupyter/IPython
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
